@font-face {
  font-family: 'boldo';
  src: url('Fonts/gibson/GibsonBold.OTF') format('truetype'); 
}

@font-face {
  font-family: 'heavy';
  src: url('Fonts/gibson/GibsonBoldIt.OTF') format('truetype'); 
}

@font-face {
  font-family: 'ital';
  src: url('Fonts/gibson/GibsonSemiBdIt.OTF') format('truetype'); 
}

@keyframes slideFromTop {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(100%);
  }
}

@keyframes slideFromLeft {
  from {
      transform: translateX(-250%);
  }
  to {
      transform: translateX(50%);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px) {
  .Benvenuto {
      font-size: 2em;
  }

  #specialOffers {
      padding: 10px;
  }

  .special-offer h2 {
      font-size: 1.5em;
  }

  .special-offer p {
      font-size: 1em;
  }

  .special-offer .price {
      font-size: 1.3em;
  }
}


.logo {
  width: 36px;
  height: 34.13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}


.logo:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 5px;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgb(34, 46, 57);
  font-family: 'boldo', sans-serif;
  z-index: 999;
  font-weight: bold;
}

.Menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.Menu p {
  margin: 0 15px;
  font-size: 0.9rem;
}

.Menu a {
  color: rgb(34, 46, 57);
  text-decoration: none;
  margin: 0 4px;
  font-family: 'boldo', sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.Menu a:hover {
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}


.dropbtn {
  background-color: transparent;
  color: rgb(34, 46, 57);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-family: 'boldo', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  position: relative; 
}


.dropbtn::after {
  content: "\25be"; 
  margin-bottom: 3px;
  position: absolute;
  transition: transform 0.3s ease; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown:hover .dropbtn::after {
  transform: rotate(180deg); 
}

.dropdown-content a {
  color: rgb(34, 46, 57);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  font-family: 'boldo', sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
}

.dropbtn:hover, .dropdown-content a:hover {
  color: rgb(0, 123, 255);
  background-color: rgba(0, 123, 255, 0.1);
}
.logutbutton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logutbutton a {
  color: #101517;
  text-decoration: none;
  margin: 0 4px;
  font-family: 'boldo', sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}





.logout {
  background-color: #007bff;
  color: #101517;
  padding: 10px 20px;
  margin-right: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
  font-family: 'boldo', sans-serif;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.logout:hover {
  background-color: #0056b3;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.user {
  width: 36px;
  height: 36px;
  background-image: url("Immagini/user.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  position: relative;
}

.user:hover {
  filter: brightness(110%);
  transform: scale(1.1);
  border-color: #007bff;
}

.user::after {
  content: "VAI ALL'AREA PERSONALE";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  font-family: 'ital', sans-serif;
  font-size: 0.8rem;
  z-index: 9999;
}

.user:hover::after {
  opacity: 1;
}

.user.clicked {
  display: none;
}

.immagine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9; 
  padding: 20px 0; 
  height: 100vh; 
  position: relative;
  background-image: url('Immagini/Immagine3.jpg'); 
  background-size: cover; 
  background-position: center;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}

.text, .Text-box {
  color: white;
  font-weight: 700; 
  text-align: center;
  font-family: boldo; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  background: linear-gradient(to right, rgba(136, 173, 246, 0.5), rgba(255, 255, 255, 0.5)); 
  padding: 15px 30px; /* Riduci il padding */
  border-radius: 15px;
  transition: all 0.3s ease; /* Aggiungi una transizione fluida */
  position: relative; 
  z-index: 2; 
  margin: 20px 0 ;
}

.text {
  font-size: 1.5rem; /* Riduci la dimensione del testo */
}

.Text-box {
  font-weight: 300;
  font-size: 1.2rem; /* Riduci la dimensione del testo */
  width: 90%; 
  max-width: 800px;
  height: auto;
  max-height: 100%;
  box-sizing: border-box;
}

.text:hover, .Text-box:hover {
  transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}

.MaggioriInfo {
  font-size: 1rem; /* Riduci la dimensione del testo */
  color: white;
  font-weight: 300;
  text-align: center;
  font-family: boldo;
}

.MaggioriInfo a {
  text-decoration: none;
  color: #007bff;
}

.IscrivitiOra {
  line-height: 1.2;
  font-size: 2.5rem; /* Riduci la dimensione del testo */
  margin-top: 10%;
}

.Scegli {
  font-size: 1.8rem; /* Riduci la dimensione del testo */
  margin-top: 5%;
}

.stdoflx {
  font-size: 1.8rem; /* Riduci la dimensione del testo */
  margin-bottom: 20px; 
}




.form-container {
  width: 40%; /* Rendere il form più stretto */
  margin: 5% auto;
  padding: 30px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.form-container:hover{
  transform: scale(1.05);
}

.form-container label {
  font-weight: bold;
  color: #495057;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select,
.form-container input[type="date"] {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus,
.form-container select[type="date"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.form-container input[type="submit"] {
  width: 97%;
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-family: 'boldo', sans-serif;
}

.form-container input[type="submit"]:hover {
  background-color: #0056b3;
}





.errore {
  display: none;
  font-weight: bold;
  color: red;
  z-index: 2;
  text-align: center;
  font-family: 'boldo', sans-serif;
}

.Inserisci {
  color: white;
  font-weight: 700;
  text-align: center;
  font-family: 'boldo', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background: linear-gradient(to right, rgba(23, 69, 254, 0.5), rgba(49, 123, 193, 0.5));
  padding: 10px 20px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.Inserisci:hover{
  transform: scale(1.05);
}


#messaggio-iscrizione {
  display: none;
  font-family: 'boldo', sans-serif;
  font-size: 2.3rem;
  margin-top: 10%;
}
/* Stili per il form di disdetta */
.disdetta-form {
  display: none;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-disdetta-text {
  margin-top: 10%;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.disdetta-form input[type="submit"] {
  background-color: #ff5252;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disdetta-form input[type="submit"]:hover {
  background-color: #ff0000;
}

.disdetta-form input[type="submit"]:focus {
  outline: none;
}


.errore {
  display: none;
  font-weight: bold;
  color: red;
  z-index: 2;
  text-align: center;
  font-family: 'boldo', sans-serif;
}

.Inserisci {
  margin-left: 34%;
  margin-top: 5%;
  width: 30%;
  color: white;
  font-weight: 700;
  text-align: center;
  font-family: 'boldo', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background: linear-gradient(to right, rgba(23, 69, 254, 0.5), rgba(49, 123, 193, 0.5));
  padding: 10px 20px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}
footer {
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 9%;

}

.Social {
  display: flex;
  justify-content: center;
  padding: 2% 0;
  background-color:  rgba(90,106,106,0.2);
}

.BoxSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
}

.social-item {
  text-align: center;
  margin: 0 20px;
}

.Immagine3 {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.social-item p {
  color: rgb(34, 46, 57);
  font-family: 'ital', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.social-item a:hover .Immagine3 {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
  border-radius: 15px;
}

.info {
  padding: 4% 0;
}

.info a {
  text-decoration: none;
  color: rgb(34, 46, 57);
}

.Infobox {
  display: flex;
  justify-content: space-around;
  padding: 2% 5%;
  text-align: center;
}

.Infobox > div {
  flex: 1;
  margin: 0 10px;
}

.Infobox1, .Infobox2, .Infobox3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Infolegale, .Infoassistenza, .Infopalestre {
  line-height: 1.7;
}

.testoinfo {
  font-size: 1.1rem;
  color: rgb(34, 46, 57);
  font-family: 'ital', sans-serif;
  margin: 5px 0;
}

.testoinfo a:hover {
  color: #007bff;
  text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.Infobox p {
  font-size: 1.5rem;
  color: rgb(34, 46, 57);
  font-family: 'ital', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.Infobox p i {
  margin-right: 10px;
}

.testoinfo p {
  margin: 0;
  transition: color 0.3s, transform 0.3s;
  font-family: 'ital', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.testoinfo p:hover {
  color: #007bff;
  transform: translateX(5px);
}

.Infobox p::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #007bff;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.Infobox p:hover::after {
  width: 100%;
}


