    /* Font-Face */
    @font-face {
        font-family: 'boldo';
        src: url('Fonts/gibson/GibsonBold.OTF') format('truetype'); 
    }
    
    @font-face {
        font-family: 'heavy';
        src: url('Fonts/gibson/GibsonBoldIt.OTF') format('truetype'); 
    }
    
    @font-face {
        font-family: 'ital';
        src: url('Fonts/gibson/GibsonSemiBdIt.OTF') format('truetype'); 
    }
    
    /* Animazioni */
    @keyframes slideFromBottom {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slideFromTop {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(100%);
        }
    }

    @keyframes slideFromLeft {
        from {
            transform: translateX(-250%);
        }
        to {
            transform: translateX(50%);
        }
    }

    

    /* Media Query */
    @media (max-width: 768px) {
        .Benvenuto {
            font-size: 2em;
        }
        #specialOffers {
            padding: 10px;
        }
        .special-offer h2 {
            font-size: 1.5em;
        }
        .special-offer p {
            font-size: 1em;
        }
        .special-offer .price {
            font-size: 1.3em;
        }
    }

    header {
      background-image: url('Immagini/Immagine9.jpg');
      background-size: cover;
      background-position: center;
      padding: 100px 20px;
      text-align: center;
      color: #fff;
      height: 80%;
      font-family: 'boldo', sans-serif;
      position: relative;
      overflow: hidden; 
      margin-bottom: 50px; 
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
  .confirmation-message {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e0f7fa;
      border: 1px solid #26a69a;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
      font-family: 'boldo', sans-serif;
      font-size: 1rem;
      color: #004d40;
      animation: fadeIn 0.5s ease-in-out;
      z-index: 9999; 
  }
  
  .confirmation-message img {
      margin-right: 10px;
      width: 24px;
      height: 24px;
  }

  .confirmation-message.fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}
    
.logo {
  width: 36px;
  height: 34.13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}


.logo:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 5px;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgb(34, 46, 57);
  font-family: 'boldo', sans-serif;
  z-index: 999;
  font-weight: bold;
}

.Menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.Menu p {
  margin: 0 15px;
  font-size: 0.9rem;
}

.Menu a {
  color: rgb(34, 46, 57);
  text-decoration: none;
  margin: 0 4px;
  font-family: 'boldo', sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.Menu a:hover {
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}


.dropbtn {
  background-color: transparent;
  color: rgb(34, 46, 57);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-family: 'boldo', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  position: relative; 
}


.dropbtn::after {
  content: "\25be"; 
  margin-bottom: 3px;
  position: absolute;
  transition: transform 0.3s ease; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown:hover .dropbtn::after {
  transform: rotate(180deg); 
}

.dropdown-content a {
  color: rgb(34, 46, 57);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  font-family: 'boldo', sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
}

.dropbtn:hover, .dropdown-content a:hover {
  color: rgb(0, 123, 255);
  background-color: rgba(0, 123, 255, 0.1);
}
.logutbutton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logutbutton a {
  color: #101517;
  text-decoration: none;
  margin: 0 4px;
  font-family: 'boldo', sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

  



.logout {
  background-color: #007bff;
  color: #101517;
  padding: 10px 20px;
  margin-right: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
  font-family: 'boldo', sans-serif;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.logout:hover {
  background-color: #0056b3;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.user {
  width: 36px;
  height: 36px;
  background-image: url("Immagini/user.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  position: relative;
}

.user:hover {
  filter: brightness(110%);
  transform: scale(1.1);
  border-color: #007bff;
}

.user::after {
  content: "Vai all'area personale";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  font-family: 'boldo', sans-serif;
  font-size: 0.8rem;
  z-index: 9999;
}

.user:hover::after {
  opacity: 1;
}

.user.clicked {
  display: none;
}


    #overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }

      header h1{
        z-index: 1;
        font-size: 3em;
      }
      
      @media (max-width: 500px) {
        header h1 {
          font-size: 2em;
          padding: 0 30px;
        }
      }
      
      .subtitle{
        z-index: 1;
        font-size: 18px
      }
      
      @media (max-width: 500px) {
        .subtitle {
          padding: 0 30px;
        }
      }
      
      section h1{
        margin-left: 30px;
        margin-top: 100px
      }
    
      #search input[type=submit]{
        display: none;
    }
      
      .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center
      }
      
      @media (max-width: 500px) {
        .container{
          height: auto;
          flex-direction: column;
        }
      }
    
      #results::-webkit-scrollbar {
        width: 10px;
    }
    
    #results::-webkit-scrollbar-track {
        background: linear-gradient(45deg, #f1f1f1, #ddd);
        border-radius: 10px;
    }
    
    #results::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #888, #555);
        border-radius: 10px;
        border: 2px solid #ccc;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    #results::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, #777, #444);
    }
    
    


#results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    flex-shrink: 0;
    flex-grow: 1;
    max-height: 400px; /* Altezza massima della sezione dei risultati */
    overflow-y: auto; /* Aggiungi una barra di scorrimento verticale quando necessario */
}

      
      .track{
        display: flex;
        flex-direction: row;
        padding: 20px;
        height: 20%;
        background-color: #10142d;
        border-radius: 8px;
        margin: 15px;
        transition: width 0.2s, background-color 0.2s;
      }
      
      .track:hover{
        background-color: #191F45;
      }
    
      .trackInfo{
        display: flex;
        flex-direction: column;
      }
    
      .trackInfo:hover + .saveForm{
        opacity: 1;
      }
    
      .saveForm{
        opacity: 0;
      }
    
      .saveForm:hover{
        opacity: 1;
      }
    
      .save{
        width: 50px;
        height: 50px;
        background-color: #10142d;
        position: sticky;
        transition: opacity 0.3s;
        margin-left: -60px;
        color: rgba(255, 355, 255, 0);
        margin-top: 200px;
        border: none;
        border-radius: 50px;
        background: rgb(0 0 0 / 50%) url('Immagini/blueHeart.svg') 10px 12px no-repeat;
        background-size: 30px 30px;
      }



    
      .saveIcon{
        margin-left: -50px;
        padding-top: 212px;
        width: 30px;
        box-shadow: none;
        position: absolute;
      }
      
      .artistaInfo, .canzoneInfo{
        display: none;
      }
      
      .artistaInfo p{
        margin-top: 0;
      }
    
      .infoContainer{
        min-height: 62px;
      }
      
      .show{
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      
      .selected{
        position: fixed;
        width: 50%;
        height: auto;
        z-index: 10;
        left: 25%;
        top: 25%;
        box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      }
      
      .unselected{
        height: 50%;
      }
      
      @media (max-width: 500px) {
        .artisti, .canzoni {
          width: auto;
          margin: 0 auto 30px;
        }
      }
    
      .track a{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 10px;
        font-size: 16px;
      }
      
      strong{
        font-size: 18px;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
      .showTitle{
        overflow: visible;
      }
    
      img{
        width: 100%;
        max-width: 260px;
        transition: width 0.2s;
      }
      
      .img-selected{
        width: 80%;
        max-width: 260px;
      }
      
     
      .infoContainer{
      width: 100%;
      display: flex;
      flex-direction: row;
      }
      
      .infoSelected{
      width: 80%;
      display: flex;
      flex-direction: row;
      }
      
      .info{
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 230px;
      }
      
      .icon{
      width: 10%;
      max-width: 30px;
      }
      
      .favoriteCard{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 20%;
        height: 85%;
        background-color: #10142d;
        border-radius: 8px;
        margin-right: 30px;
      }
      
      .hidden{
      display:none;
      }
      
      .detail{
      margin-top: 10px;
      }
      
   /* Stile della barra di ricerca */
.search {
    margin-top: 30px;
    text-align: center;
}

.search label {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ddd; /* Colore del testo pi첫 chiaro */
}

.searchBar {
    font-size: 14px;
    width: 50%;
    height: 40px;
    padding: 12px 16px;
    border: 2px solid #555; /* Colore del bordo pi첫 chiaro */
    border-radius: 20px;
    background-color: #222; /* Colore di sfondo pi첫 scuro */
    color: #ddd; /* Colore del testo pi첫 chiaro */
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.searchBar:focus {
    outline: none;
    border-color: #007bff;
}


    
      
      .sectionTitle{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      }
    
      
    .hidden{
        display: none;
    }

    #overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-x: hidden;
        z-index: 1;
    }

    footer {
      padding: 20px 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 12%;
    
    }
    
    .Social {
      display: flex;
      justify-content: center;
      padding: 2% 0;
     background-color:  rgba(97,101,106,0.2);
      height: 40%;
    
    }
    
    .BoxSocial {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    
    .social-item {
      text-align: center;
      margin: 0 20px;
    }
    
    .Immagine3 {
      width: 120px;
      height: 120px;
      margin-bottom: 10px;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    
    .social-item p {
      color: rgb(34, 46, 57);
      font-family: 'ital', sans-serif;
      font-size: 1.2rem;
      margin: 0;
    }
    
    .social-item a:hover .Immagine3 {
      transform: scale(1.1);
      box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
      border-radius: 15px;
    }
    
    .info2 {
      padding: 4% 0;
    }
    
    .info2 a {
      text-decoration: none;
      color: rgb(34, 46, 57);
    }
    
    .Infobox {
      display: flex;
      justify-content: space-around;
      padding: 2% 5%;
      text-align: center;
    }
    
    .Infobox > div {
      flex: 1;
      margin: 0 10px;
    }
    
    .Infobox1, .Infobox2, .Infobox3 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .Infolegale, .Infoassistenza, .Infopalestre {
      line-height: 1.7;
    }
    
    .testoinfo {
      font-size: 1.1rem;
      color: rgb(34, 46, 57);
      font-family: 'ital', sans-serif;
      margin: 5px 0;
    }
    
    .testoinfo a:hover {
      color: #007bff;
      text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .Infobox p {
      font-size: 1.5rem;
      color: rgb(34, 46, 57);
      font-family: 'ital', sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
      position: relative;
    }
    
    .Infobox p i {
      margin-right: 10px;
    }
    
    .testoinfo p {
      margin: 0;
      transition: color 0.3s, transform 0.3s;
      font-family: 'ital', sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
      cursor: pointer;
    }
    
    .testoinfo p:hover {
      color: #007bff;
      transform: translateX(5px);
    }
    
    .Infobox p::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #007bff;
      transition: width 0.3s;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
    
    .Infobox p:hover::after {
      width: 100%;
    }